.root {
  align-self: flex-start;
  width: fit-content;
  max-width: 100%;
  padding: 3px var(--mantine-spacing-xs);
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-default);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-sm);
  transition:
    color 100ms ease,
    border-color 100ms ease,
    background-color 100ms ease;
}

.root[data-variant="subtle"] {
  background-color: transparent;
  border-color: transparent;
}

@media (hover: hover) {
  .root:hover:not(:disabled) {
    background-color: var(--mantine-color-default-hover);
  }
}

.root[data-copied] {
  color: var(--mantine-color-teal-filled);
}

.root[data-copied]:not([data-variant="subtle"]) {
  border-color: var(--mantine-color-teal-filled);
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.root:focus-visible {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
}
